<h3>Settings</h3>
<div class="btn btn-default" (click)="onClicked()">Settings!</div>
<br>
<br>
<br>
<div class="row">
    <div class="col-xs-6">
        <form class="form" [formGroup]="settingsForm">
            <div class="form-group" [ngClass]="getState(settingsForm.controls['Setting'])">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
                    <input formControlName="Setting" type="text" class="form-control" placeholder="Username">
                </div>
                <control-messages [control]="settingsForm.controls.Setting"></control-messages>
            </div>
        </form>
    </div>
</div>

